@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
  }
  
  #nav-bar {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 54px;
    background-color: #6C5E9C;
    border-radius: 15px;
    margin: 25px auto;
    padding: 3px 20px;
  }
  
  .list-nav {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 20px;
    padding-top: 3px;
    font-weight: 900;
    cursor: pointer;
  }
  
  ul > li > a {
    text-decoration: none;
    color: #000;
    transition: .8s;
  }
  
  .list-nav li a:hover {
    color: #fff;
  }
  
  #container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }
  
  .sidebar {
    flex: 1;
    background-color: #8892BF;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .sidebar h3 {
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
    padding: 10px;
    background-color: #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar ul li a:hover {
    background-color: #bbb;
  }
  
  .content {
    flex: 3;
  }
  
  .user-section {
    background-color: #D9D9D9;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .profile-pic img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
  }

  .input-container {
    margin-bottom: 15px;
  }
  
  .input-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-container input,
  .input-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .user-info {
      display: flex;
      flex-direction: column;
      align-items: center; 
    }
  
  .user-info h2 {
  
      font-size: 18px;
      font-weight: 500;
      color: #000;
      text-align: center;
  }
  
  .logout-btn {
      background-color: #E54D4D;
      color: #fff;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
  }
  
  .logout-btn:hover {
      background-color: #d43f3f;
  }
  
  .admin-options {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      gap: 15px;
  }
  
  .admin-btn {
    background-color: #8892BF;
    color: #000;
    padding: 20px 90px 18px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .admin-btn:hover {
    background-color: #6C5E9C;
  }
    
  .popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    z-index: 1000;
  }
  
  .popup.hidden {
    display: none;
  }
  
  