@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E8E8E8;
    background-image: url("/img/patas.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 54px;
    background-color: #6C5E9C;
    border-radius: 15px;
    margin: 25px auto;
    padding: 3px 20px;
}

.logo {
    width: 60px;
}

.user-icon img {
    display: flex;
    width: 40px;
    border-radius: 50%;
}

.container {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #C7CCE4; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

select, input[type="date"], input[type="time"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('/img/down-arrow.png') no-repeat right #fff; 
    background-size: 15px;
    padding-right: 40px;
}

input[type="date"], input[type="time"] {
    color: #333;
}

button.submit-btn {
    width: 100%;
    background-color: #4F5B93;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button.submit-btn:hover {
    background-color: #5a4a84;
}

@media (max-width: 1024px) {
    .header, .container {
        width: 90%;
    }
}

@media (max-width: 768px) {

    .submit-btn {
        padding: 12px;
    }

    h2 {
        font-size: 22px;
    }
}