@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 400px;
    background-color: #8892BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    row-gap: 15px;
}

h2 {
    font-weight: 900;
    font-size: 32px;
    color: #333333;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 15px; 
}

.input-container input {
    width: 100%;
    height: 45px;
    border-radius: 15px;
    padding: 10px 15px;
    border: 2px solid #ccc;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.btn {
    width: 180px;
    height: 54px;
    border-radius: 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #4F5B93;
    transition: background-color 0.8s;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.btn:hover {
    background-color: #2a40a5;
}