@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("../img/patas.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #E8E8E8;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 700px;
  height: 620px;
  background-image: url("../img/patas.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8892BF;
  flex-direction: column;
  border-radius: 15px;
  row-gap: 15px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(33, 33, 33, 0.8);
}

h2 {
  font-weight: 900;
  font-size: 28px;
  color: #333333;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 360px;
}

.input-container img {
  position: absolute;
  left: 15px; /* Espaçamento para o ícone */
  color: #aaa; /* Cor do ícone */
}

.input-container input {
  width: 100%;
  height: 54px;
  border-radius: 15px;
  padding: 10px 10px 10px 40px; /* Espaçamento para o ícone */
  border: 2px solid #ccc;
  font-size: 16px;
  margin: 6px;
}

.btn {
  width: 180px;
  height: 54px;
  border-radius: 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: #4F5B93;
  transition: .8s;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Espaçamento opcional */
}

.btn:hover {
  background-color: #2a40a5;
  transition: .8s;
}

.social-login {
  display: flex;
  gap: 20px;
}