    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

    .container {
        width: 100%;
        max-width: 70%;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        top: 50%;
        left: 50%;
        flex-direction: column;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px;
        color: #666;
    }

    ul {
        list-style: none;
        margin-bottom: 20px;
    }

    ul li {
        font-size: 16px;
        margin-bottom: 10px;
        color: #333;
    }

    ul li strong {
        font-weight: 700;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form label {
        font-weight: 500;
        color: #333;
        margin-bottom: 5px;
    }

    form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        resize: vertical;
        margin-bottom: 15px;
    }

    form button {
        width: 100%;
        padding: 10px;
        background-color: #d9534f;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    form button:hover {
        background-color: #c9302c;
    }
