@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#d9d9d9;
  background-color: #E8E8E8;
  background-image: url("../img/patas.png");
  background-position: top right;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 20px;
  background-color: #6C5E9C;
  border-radius: 15px;
  color: white;
  width: 80%;
  height: 54px;
  margin: 25px auto;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-top: 1px;
  margin-left: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.list-nav {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  margin-top: 22px;
}

.list-nav > li > a {
  text-decoration: none;
  color: #000;
  transition: 0.8s;
}

.list-nav > li > a:hover {
  color: #fff;
}

.list-nav > li > a img {
  width: 45px; 
  height: 45px; 
  border-radius: 50%; 
  transition: transform 0.3s, box-shadow 0.3s; 
  margin-top: 8px;
}

.list-nav > li > a img:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-icon {
  width: 15px;
  height: 15px;
  background-color: white;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.search-icon:hover {
  opacity: 0.5;
}

#search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 2px;
}

.cart-container {
  max-width: 800px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

.total {
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}

.remove-btn {
  background-color: red;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: darkred;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  margin-top: 20px;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #45a049;
}
