@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
    background-image: url("../img/patas.png");
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.sidebar {
    width: 200px;
    background-color: #8b8fb5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
}

.sidebar button {
    background-color: #e8e8e8;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}

.content {
    flex: 1;
    padding: 20px;
}

.user-card {
    background-color: #D9D9D9;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    flex: 1;
}

.edit-btn {
    background-color: #c71919;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.appointment {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    gap: 20px; 
}

.appointment .titulo {
    flex-grow: 1;
    font-weight: bold;
    color: #333;
}

.appointment p {
    margin: 0;
    color: #555;
}

.button-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.delete-btn {
    background-color: rgba(230, 0, 0, 0.87);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
    text-align: center;
}

.delete-btn a {
    color: white;
    text-decoration: none;
}

.delete-btn:hover {
    background-color: #c40000;
}

.appointment button {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #dd0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.appointment button:hover {
    background-color: #ee4a4a;
}
